.cv-resume {
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media(min-width: 768px) {
            flex-direction: row;
            align-items: flex-start;
        }
    }
    &__time {
        display: flex;
        margin-bottom: 3rem;
        @media(min-width: 768px) {
            padding-inline-end: 4rem;
            margin-bottom: 0;
        }
        .inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 1.8rem;
            font-weight: 300;
            color: #fff;
            background-color: $primary-red;
            text-align: center;
            width: 14rem;
            height: 14rem;
            border-radius: 50%;
        }
    }
    &__details-wrap {
        margin-left: auto;
        padding-bottom: 5rem;
        @media(min-width: 768px) {
            padding-inline-start: 4rem;
            border-left: 1px solid #eaeaea;
        }
    }
    &__details {
        position: relative;
        border-bottom: solid 4px #eeeeee;
        padding: 2rem 4.5rem;
        &--grey {
            background: #f3f3f3;
        }
        &::before {
            content: "";
            position: absolute;
            right: 0;
            left: 0;
            top: -10px;
            margin: auto;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 10px 10px 10px;
            border-color: transparent transparent #f3f3f3 transparent;
            @media(min-width: 768px) {
                top: 30px;
                left: -10px;
                border-width: 10px 10px 10px 0;
                border-color: transparent #f3f3f3 transparent transparent;
                margin: 0;
            }
            
        }
    }
    &__title {
        font-size: 2rem;
        color: $color-bold-title;
        margin-bottom: .2rem;
    }
    &__subtitle {
        font-size: 1.6rem;
        font-weight: inherit;
        margin-bottom: .5rem;
    }
}